@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

body{
    background:  #F2F2F3;
    overflow-x: hidden;
}

.container{
    width: 70%;
}

#logo{
    margin-left: 10px;
    margin-top: 9px;
}

.item{
    font-family:'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 20px;
    text-decoration: none;
}

.spliter{
    position: relative;
    width: 30px;
    height: 1px;
    margin-left: 23px;
    top: 30px;
    border: 1px solid #000000;
    transform: rotate(90deg);
}
.btnHamburger{
    margin: 6px 0;
    padding:  5px;
}

.icons{
    margin-top: 16px;
    margin-left: 10px;
    margin-left: auto;
}
.icons > .icon-item{
    margin-left: 10px;
    cursor: pointer;
}

.frame{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.headerEffect{
    height: 192px;
    z-index: -0.1;
}
.headerEffect>h1{
    font-family:'Inter', sans-serif;
    font-size: 36px;
    line-height: 43,57px;
    color: #ffffff;
    
}

.allframe{
    margin-top: -100px;
    
}

.headerPop{
    font-family:'Inter', sans-serif;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 22px;
    line-height: 26px;
    background:#E1E1E2 ;
}
footer{
    background-color: #E5E5E6;
}