@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body{
    background:  #F2F2F3;
    overflow-x: hidden;
}
.container{
    width: 70%;
}

#logo{
    margin-left: 10px;
    margin-top: 9px;
}

.item{
    font-family:'Inter', sans-serif;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 20px;
    text-decoration: none;
}

.spliter{
    position: relative;
    width: 30px;
    height: 1px;
    margin-left: 23px;
    top: 30px;
    border: 1px solid #000000;
    transform: rotate(90deg);
}
.btnHamburger{
    margin: 6px 0;
    padding:  5px;
}

.icons{
    margin-top: 16px;
    margin-left: 10px;
    margin-left: auto;
}
.icons > .icon-item{
    margin-left: 10px;
    cursor: pointer;
}

.frame{
    
}